:root {
  --amplify-primary-color: #2793da;
  --amplify-primary-tint: #ff7359;
  --amplify-primary-shade: #e0573e;
  --amplify-primary-contrast: #ffffff;
  --amplify-white: #ffffff;
  --amplify-background-color: #3f3f3f;
  --amplify-tertiary-color: #5d8aff;
  --amplify-tertiary-contrast: #000000;
  --amplify-secondary-color: #ffffff;
  --amplify-secondary-contrast: #3f3f3f ;
  --amplify-secondary-shade: #000000;
}

amplify-authenticator amplify-sign-in input {
  --background-color: #000000;
}

amplify-authenticator {
  --box-shadow: 0;
  --border-radius: 8px;
}

.randomHeader{
  font-size: x-large;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #ffffff;
}

.ipponFooter{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: bold;
  color: #000000;
}

.ipponFooterDark{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: bold;
  color: #ffffff;
}

.buttonText{
  position: absolute;
  top: 40%;
  left: 5%; 
  font-size: xx-large;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #ffffff;
}

.buttonSubtext{
  position: absolute;
  top: 20%;
  left: 5%; 
  font-size: medium;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #ffffff;
}

.viewListTitle{
  /* border: #2793da solid 4px; */
  padding: 1px;
  border-radius: 8px;
  font: bolder;
  font-size: 48px;
  color: #2793da;
  font-family: 'Open Sans', sans-serif;
}

.react-scrollable-list {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 400px;
    width: 300px;
    overflow-y: scroll;
    /*border: #ddd solid 1px;*/
  }
  
.react-scrollable-list-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    padding: 5px;
    background-color: transparent;
    border-bottom: #ddd solid 1px;
    pointer-events: none;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: x-large;
  }

.closeButton{
  position: absolute;
  left: 1%;
  top: 1%;
  display: flex;
  align-items: left;
  justify-content: left;
}

.appName{
  font-family: 'Open Sans', sans-serif;
  font-size: large;
  text-align: center;
  color: #ffffff;
  width: 100%;
  top:15%;
  left:50%;
  transform:translate(-50%,-50%);
  position: absolute;
}

.cameraButton {
  background-color: #2793da;
  width: 300px;
  height: 50px;
  border-radius: 8px;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: x-large;
  text-align: center;
  color: #ffffff;
}

.scanOverlay {
  position: relative;
}

.imgOverlay {
  position: absolute;
  top: 0%;
}

.videoContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


video {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 12px;
}

.scanMain{
  background-color: #3f3f3f;
  top: 20%;
  position: relative;
}

.winnerMain{
  background-color: #3f3f3f;
}


.randomNameSelect {
  font-weight: bold;
  color: #ffffff;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position:absolute;
  top:5%;
  left:50%;
  transform:translate(-50%,-50%);
}

.menu {
  display: flex;
  position:relative;
  top: 0%;
  flex: 1;  
  align-items: center;
  flex-direction: column;
  text-align: center;

}

.menuFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.menuItem {
  flex: 1;
  align-items: center;
}

.innerLogo {
  position: absolute;
  top: 20%;
  left:50%;
  transform:translate(-50%,-50%);
}

.footer {
  width: 90%;
}

.bg-logged-in {
  background-color: #ffffff;
  top: 0%;
  left:0%;
  position: absolute;
}

.bg-logged-out {
  background-color: #3f3f3f;
  top: 0%;
  left:0%;
  position: absolute;
}